$white:#fff;
$black:#000;
$copycolor:#231f20;
$blue:#006899;
$bluish:#DBF0F6;
$red:#831D1A;
$redish:#DF5753;
$lightblue: #4FA3C8;
$orange:#F89C45;
$green:#7da73f;
$greenish:#92B761;
$gray:#a7a9ac;
$yellow:#F5C75F;
$copy:'NeutraTextBook',
Sans;
$copyitl:'NeutraTextBookItalic',
Sans;
$copybold:'NeutraTextBold',
Sans;
$copybolditl:'NeutraTextBoldItalic',
Sans;