$white:#fff;
$black:#000;
$copycolor:#231f20;
$cyan:#53b0c7;
$blue:#01699c;
$darkblue:#00689a;
$orange:#f99e45;
$green:#7ea740;
$yellow:#ffce49;
$lightblue:#BCE6FB;
$gray:#a7a9ac;
$copy:'NeutraTextBook',
Sans;
$copyitl:'NeutraTextBookItalic',
Sans;
$copybold:'NeutraTextBold',
Sans;
$copybolditl:'NeutraTextBoldItalic',
Sans;