$white:#fff;
$black:#000;
$copycolor:#231f20;
$cyan:#54B0C7;
$blue:#00699b;
$orange:#f99e45;
$green:#7da73f;
$yellow:#FFCE49;
$lightblue:#BCE6FB;
$gray:#a7a9ac;
$copy:'NeutraTextBook',
Sans;
$copyitl:'NeutraTextBookItalic',
Sans;
$copybold:'NeutraTextBold',
Sans;
$copybolditl:'NeutraTextBoldItalic',
Sans;